
        /* Center the form and its contents */
        body, html {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        /* Hide the default file input */
        #imageInput {
            display: none;
        }

        /* Custom button styling with gradient */
        .custom-file-upload {
            display: inline-block;
            width: 250px;
            height: 250px;
            border-radius: 20px;
            background: linear-gradient(135deg, #e6f2e6, #b3d0a0); /* More pronounced gradient */
            text-align: center;
            cursor: pointer;
            border: 2px solid #a0c488;
            font-size: 18px;
            color: #555;
            position: relative;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .custom-file-upload img {
            max-width: 100%;
            max-height: 100%;
            display: none; /* Initially hide the image */
        }

        /* Hover effect */
        .custom-file-upload:hover {
            background: linear-gradient(135deg, #d0e4c5, #9fb98c); /* Darker gradient on hover */
        }

        /* Style for the upload button */
        #uploadForm button {
            display: block;
            margin: 0 auto; /* Center the button */
            padding: 10px 20px;
            font-size: 16px;
            background-color: #a0c488;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Hover effect for the upload button */
        #uploadForm button:hover {
            background-color: #8faa70;
        }

        /* Styling for result */
        #result {
            margin-top: 20px;
            font-size: 18px;
            color: #333;
            text-align: center;
        }
